body {font-family: sans-serif}
.content {width: 750px; }
textarea, pre { -moz-tab-size: 4; -o-tab-size: 4; -webkit-tab-size: 4; tab-size: 4; }
.output { background-color: #CCCCCC; border: 1px black solid; }
.code { font-family: monospace }
.model { font-family: monospace; width: 500px; height: 400px }
.illegal { color: red; }
.legal {color: green; }
.question { border: solid 1px black; }
.lesson {visibility: hidden; }
.post { visibility: hidden; }
.aside { font-size: smaller; }
.verifier { display: none; }
.answer { display: none; }

/* Override CodeMirror */
.CodeMirror {border: 1px solid black;}