body {font-family: sans-serif; padding:0 5px; }
textarea, pre { -moz-tab-size: 4; -o-tab-size: 4; -webkit-tab-size: 4; tab-size: 4; }

pre {background-color: #F3F3F3; padding: 10px 10px 0 10px; font-family: 'courier new'; font-size: 14px;}
.content { width 100%; max-width: 850px; margin: 0 auto}
.output { background-color: #E6E6E6; border: 1px black solid; }
.code { font-family: monospace }
.model { font-family: monospace; width: 76%; max-width: 500px; height: 400px }
.illegal { color: red; }
.legal {color: green; }
.question { border: solid 1px black; }
.lesson {visibility: hidden; }
.post { visibility: hidden; }
.aside { font-size: smaller; }
.verifier { display: none; }
.answer { display: none; }
.center {text-align: center}

/* Override CodeMirror */
.CodeMirror {border: 1px solid #ccc; height: 450px;}
.CodeMirror-scroll {}
.CodeMirror-fullscreen {position: fixed; top: 20px; left: 20px; right: 20px; bottom: 20px; height: auto; z-index: 9;}

/* Pretty CSS Buttons */
.blue-button, .showAnswer{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');background-color:#63b8ee;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;text-indent:0;border:1px solid #3866a3;display:inline-block;color:#14396a;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;margin:2px;height:26px;width:133px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #7cacde;}
.blue-button:hover, .showAnswer:hover{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');background-color:#468ccf;}
.blue-button:active, .showAnswer:active{position:relative;top:1px;}
.green-button, .go{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');background-color:#77d42a;-webkit-border-top-left-radius:4px;-moz-border-radius-topleft:4px;border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-moz-border-radius-topright:4px;border-top-right-radius:4px;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;text-indent:0;border:1px solid #268a16;display:inline-block;color:#306108;font-family:Arial;font-size:15px;font-weight:bold;font-style:normal;height:26px;margin:2px;width:61px;text-decoration:none;text-align:center;text-shadow:1px 1px 0px #aade7c;}
.green-button:hover, .go:hover{background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');background-color:#5cb811;}
.green-button:active, .go:active{position:relative;top:1px;}

.set-answer, .get-answer { width: 200px; height:19px; font-size: 13px; }
.show-answers { width:100%; max-width: 450px; height:25px; font-size: 15px; }
.grab-answers { font-size: 12px; padding: 10px; background-color: #ccc; text-align: center; }

